@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham/Gotham-Bold.eot');
  src: url('../fonts/Gotham/Gotham-Bold.woff2') format('woff2'),
  url('../fonts/Gotham/Gotham-Bold.woff') format('woff'),
  url('../fonts/Gotham/Gotham-Bold.ttf') format('truetype'),
  url('../fonts/Gotham/Gotham-Bold.svg#Gotham-Bold') format('svg'),
  url('../fonts/Gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gotham;
  src: url('../fonts/Gotham/Gotham-Medium.eot');
  src: url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2'),
  url('../fonts/Gotham/Gotham-Medium.woff') format('woff'),
  url('../fonts/Gotham/Gotham-Medium.ttf') format('truetype'),
  url('../fonts/Gotham/Gotham-Medium.svg#Gotham-Medium') format('svg'),
  url('../fonts/Gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Bold.eot');
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
  url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
  url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: FiraSans;
  src: url('../fonts/FiraSans/FiraSans-Bold.eot');
  src: url('../fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
  url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'),
  url('../fonts/FiraSans/FiraSans-Bold.ttf') format('truetype'),
  url('../fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}