footer.footer
    .container
        img.notebook(src="img/content/notebook.png" alt="notebook")
        .footer__content
            .footer__left
                .footer__links
                    .footer__column
                        ul.footer__list
                            li.footer__item
                                a.footer__link(href="#") About us
                            li.footer__item
                                a.footer__link(href="#") Support
                            li.footer__item
                                a.footer__link(href="#") Why Buy
                            li.footer__item
                                a.footer__link(href="#") Affiliates
                    .footer__column
                        ul.footer__list
                            li.footer__item
                                a.footer__link(href="#") Contact us
                            li.footer__item
                                a.footer__link(href="#") Returns
                .footer__desc Lorem ipsum dolor sit amet, consectetur adipisicing
            .footer__right
                .footer__socials
                    a.footer__twitter(href="#") Tweet
                    a.footer__facebook(href="#") Share
                .footer__copyright-top Made in Melbourne By BlazRobar.com @BlazRobar
                .footer__copyright-bottom Copyright &copy; 2016, Cool stuff here
