section.features
    .container
        h3.features__title Features of app
        .features__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        ul.features__list
            li.features__item
                .features__sign.features__sign_cart
                h4.features__feature Lorem ipsum dolor sit
                .features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
            li.features__item
                .features__sign.features__sign_plane
                h4.features__feature Ametconsectetur
                .features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            li.features__item
                .features__sign.features__sign_arrows
                h4.features__feature Lorem ipsum dolor sit
                .features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
            li.features__item
                .features__sign.features__sign_window
                h4.features__feature Lorem ipsum dolor sit
                .features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.