section.guidelines
    .container
        h3.guidelines__title Our design guidelines
        .guidelines__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        ul.guidelines__tabs
            li.guidelines__tabs-item Development
            li.guidelines__tabs-item.guidelines__tabs-item_active Design
            li.guidelines__tabs-item Business
            li.guidelines__tabs-item Arts
        ul.guidelines__list
            li.guidelines__item
                .guidelines__picture
                .guidelines__name Design Listing One
            li.guidelines__item
                .guidelines__picture
                .guidelines__name Design Listing One
            li.guidelines__item
                .guidelines__picture
                .guidelines__name Design Listing One