section.intro
    .container
        include ../parts/_header
        .order
            h2.order__title Push yourself & your designs
            .order__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eismod tempor incididunt ut labore et dolore magna aliqua.
            include ../components/_order-form