section.slogan
    .container
        .slogan__content
            img.slogan__logo(src="img/icons/logo.png" alt="Logo")
            .slogan__text
                h2.slogan-title Push yourself & your designs
                .slogan-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eismod tempor incididunt ut labore et dolore magna aliqua.