form.order-form
    input.order-form__design(name="design" placeholder="Design Style")
    label.order-form__design-sign
    input.order-form__email(name="email" placeholder="Email")
    label.order-form__email-sign
    button(type="submit").order-form__submit